@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .placeholder-italic::placeholder {
    font-style: italic;
  }
  .shadow-outline-blue {
    box-shadow: 0 0 0 4px #7dd3fc;
  }
  .shadow-outline-green {
    box-shadow: 0 0 0 4px #22c55e;
  }
}

@layer components {
  .sign-btn {
    @apply rounded-3xl border-2 border-green-main500 bg-green-main500 p-2.5 text-center font-semibold text-yellow-text50 transition-all ease-in hover:bg-green-light100/80 hover:text-green-main500 dark:hover:border-green-dark700 dark:hover:bg-green-dark700 dark:hover:text-yellow-text50;
  }
  .dark-bg {
    @apply bg-gradient-to-br from-slate-dark900 via-slate-dark900 to-slate-dark700;
  }
  .light-bg {
    @apply bg-gradient-to-br from-slate-light50 via-slate-light100 to-slate-light100;
  }
}
